* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-image: url('bgi2.png');
    background-size: cover;
    background-position: center top 20%;
    filter: brightness(1.2) contrast(1.2);
}

#game {
    width: 100%;
    height: 90vh; /* Set the height to get vertical position of game elements */
    /* border: 1px solid black; */
    position: relative; /* Add position: relative; to allow absolute positioning inside */
}

#character {
    width: 100px;
    height: 100px;
    background: url('character.png') no-repeat center center; /* Replace with the path to your character image */
    background-size: cover;
    position: absolute; /* Change to absolute positioning */
    bottom: 0; /* Align the character to the bottom of the game container */
    left: 25%;
}

.animate {
    animation: jump 500ms;
}

@keyframes jump {
    0% { bottom: 0; }
    30% { bottom: 150px; }
    70% { bottom: 150px; }
    100% { bottom: 0; }
}

#block {
    width: 100px;
    height: 100px;
    background: url('block.png') no-repeat center center; /* Replace with the path to your block image */
    background-size: cover;
    position: absolute; /* Change to absolute positioning */
    bottom: 0; /* Align the block to the top of the game container */
    left: 100%; /* Start the block outside the right edge */
    animation: block 1s infinite linear;
}

@keyframes block {
    0% { left: 100%; }
    100% { left: -40px; }
}
